/* ---------- */
/* Style Umum */
/* ---------- */
* {
  margin: 0;
  padding: 0;
  color: #fff;
}

.bg {
  background-color: #000;
}

/* ------------ */
/* Style Navbar */
/* ------------ */
nav {
  /* padding: 0 100px; */
}

ul {
  /* list-style-type: none;
  padding-left: 0;
  margin-bottom: 0;
  overflow: hidden; */
}

li {
  /* float: right;
  width: max-content; */
}

li a {
  /* display: block;
  color: white;
  text-align: center;
  padding: 14px 45px;
  text-decoration: none; */
}

li a:hover {
  /* background-color: #111; */
  /* color: white; */
}

.floatleft {
  /* float: left; */
}
/* --------------- */
/* Style Jumbotron */
/* --------------- */
.carousel-item {
  width: 100px;
}

.carousel-item img {
  border-radius: 5px;
}

/* ------------- */
/* Style Content */
/* ------------- */
.judul_content {
  font-size: 20px;
}

.content {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 30px;
  text-align: justify;
  width: 80%;
}

.font_hz {
  margin-top: 30px;
  margin-right: 40px;
  writing-mode: vertical-lr;
}

.box {
  display: flex;
}

.btn_detail {
  margin-left: 80px;
  padding: 2px 15px;
  color: #fff;
  background-color: #000;
  border: #fff solid;
}

.btn_detail a{
  text-decoration: none;
}

.box-img {
  margin: 100px auto;
}

.contactus {
  width: max-content;
}

.btn_contact {
  padding: 2px 15px;
  color: #fff;
  background-color: #000;
  border: #fff solid;
}

.btn_contact a{
  text-decoration: none;
}

/* ------------------ */
/* Style Efek Button  */
/* ------------------ */
.btn_detail a:hover,
.btn_detail:focus {
  color: #fff;
  outline: 0;
}

.btn_contact a:hover{
  color: #fff;
  outline: 0;
}

.hover {
  box-shadow: 0 0 40px 40px #000 inset, 0 0 0 0 #000;
  transition: all 150ms ease-in-out;
}

.hover:hover {
  /* background-color: #fff; */
  color: #fff;
  box-shadow: 0 0 10px #fff inset, 0 0 10px 4px #fff;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #000;
  z-index: 99;
  margin-bottom: 100px;
  padding-top: 5px;
}

li {
  list-style-type: none;
}

ul {
  display: block;
  float: left;
}

ul a {
  display: block;
  text-align: center;
  padding: 16px 50px;
  text-decoration: none;
  color: #fff;
}

img {
  /* width: 100px; */
}

.nav-kanan {
  /* align-items: center; */
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.nav-kiri {
  display: flex;
  width: 20%;
}

.nav-link-masuk {
  align-items: center;
  display: flex;
  justify-content: flex-end;
  width: calc(100% - 700px);
}

.benefit-content {
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
}

.nav-logo {
  height: 42px;
  margin-right: 27px;
  transform: translateY(7px);
  width: 100px;
}

.main-nav {
  list-style: none;
}

.nav-kanan-second {
  align-items: left;
  display: none;
  width: 20%;
}

.container-mui {
  width: 100%;
  /* margin: 0px auto; */
  margin-right: 80px;
  margin-left: 80px;
}

.nav-container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 0px;
}

.nav-masuk a {
  /* background-color: #e2f3f4; */
  font-size: 15px;
  display: block;
  margin-top: 0px;
  width: 100px;
  color: #fff;
  padding: 10px 10px;
  /* font-weight: bold; */
  border-radius: 20px;
  cursor: pointer;
  border: none;
  text-decoration: none;
  /* box-shadow: 0px 1px 3px rgb(0 0 0 / 20%), 0px 2px 1px rgb(0 0 0 / 12%), */
  /* 0px 1px 1px rgb(0 0 0 / 14%) !important; */
}

.content iframe{
  width: 110%;
  height: 456px;
}

/* ------------ */
/* Style Footer */
/* ------------ */
.footer {
  margin-top: 150px;
}

.hyperlink {
  text-decoration: none;
}

.icon {
  width: 45px;
}

.footer-col {
  text-align: center;
  width: auto;
}

.footer {
  margin-top: 150px;
}

.hyperlink {
  text-decoration: none;
}

.icon {
  width: 45px;
}

.footer-col {
  text-align: center;
  width: auto;
}

.about-us2,.about-us4, .whyus2{
  display: none;
}

.pic-contactus{
  width: 100%;
  height: 300px;
}

.whyus-row img{
  height: 70px; width:150px
}

.d{
  margin: 0 100px; 
  margin-top: 80px;
}
/* ---------------- */
/* Responsif Navbar */
/* ---------------- */

/* --- Hamburger Menu --- */
.menu-toggle {
  display: none;
  flex-direction: column;
  height: 20px;
  justify-content: space-between;
  position: relative;
}

.menu-toggle input {
  position: absolute;
  width: 40px;
  height: 30px;
  left: -6px;
  top: -3px;
  opacity: 0;
  cursor: pointer;
  z-index: 2;
}

.menu-toggle span {
  display: block;
  width: 28px;
  height: 3px;
  background-color: #e2f3f4;
  border-radius: 5px;
}
  
/*--- Hamburger Menu Animasi ---*/
.menu-toggle span:nth-child(2) {
  transform-origin: 0 0;
}
.menu-toggle span:nth-child(4) {
  transform-origin: 0 100%;
}
.menu-toggle input:checked ~ span:nth-child(2) {
  transform: rotate(45deg) translate(1px, -1px);
}
.menu-toggle input:checked ~ span:nth-child(4) {
  transform: rotate(-45deg) translate(-1px, 2px);
}
.menu-toggle input:checked ~ span:nth-child(3) {
  transform: scale(0);
}
  

  
/* ---------------- */
/* Responsif Style  */
/* ---------------- */

/* Setengah Layar Browser */
@media screen and (max-width: 800px) {
  .nav-kanan {
    display: none;
  }

  .nav-log {
    height: 40px;
  }

  .menu-toggle {
    display: flex;
  }

  .slide {
    margin-top: 5px;
    margin-right: 70px;
    transform: translateX(0);
    display: flex;
    background-color: #000;
    position: absolute;
    right: 0;
    top: 0;
    height: max-content;
    flex-direction: column;
    align-items: left;
    transition-duration: 60s;
    transition-delay: 10s;
    box-shadow: 0px 1px 3px rgb(0 0 0 / 20%), 0px 2px 1px rgb(0 0 0 / 12%),
      0px 1px 1px rgb(0 0 0 / 14%) !important;
  }

  .col d{
    display: none;
  }
  
  .about-us1, .about-us3, .whyus1{
    display: none;
  }

  .about-us2, .about-us4, .whyus2{
    display: block;
  }

  .content iframe {
    width: 420px;
    height: 350px;
  }
}

/* Layar HP */
@media screen and (max-width: 600px) {
  .container-mui {
    margin-right: 50px;
    margin-left: 50px;
  }

  *{
    font-size: 10px;
  }

  .container{
    margin-right: 50px;
    margin-left: 50px;
  }

  .pic-contactus{
    width: 100%;
    height: 200px;
  }

  .whyus-row img{
    height: 70px; width:100px
  }

  .d{
    margin: 0 40px; 
    margin-top: 80px;
  }

  .nav-kanan-second {  
    width: auto;
  }

  .content iframe {
    width: 250px;
    height: 200px;
  }
}